<div class="row" style="margin-top: 10px;">
  <div class="col">
    <app-view-logs-request-details (getLogsEvent)="getLogs($event)"></app-view-logs-request-details>
  </div>
</div>
<div class="row" style="margin-top: 10px;">
  <div class="col">
    <app-view-logs-formatting-details #formattingDetails></app-view-logs-formatting-details>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let log of logs">
        <app-view-logs-log-entry [logEntry]="log" [formattingSettings]="formattingDetails.formattingSettings"></app-view-logs-log-entry>
      </li>
    </ul>
  </div>
</div>
