<div class="card">
  <div class="card-header">
    <button class="btn btn-link" data-toggle="collapse" data-target="#requestDetailsBody" aria-expanded="true" aria-controls="requestDetailsBody"
      style="padding-left: 0;">
      Request details
    </button>
  </div>
  <div id="requestDetailsBody" class="collapse hide">
    <div class="card-body">
      <form name="form" novalidate #form="ngForm" (ngSubmit)="getLogs()">
        <div class="form-row">
          <div class="form-group col">
            <label class="col-form-label-sm">Server</label>
            <select class="form-control form-control-sm" [(ngModel)]="logsRequest.endpointId" name="serverId">
              <option *ngFor="let endpoint of endpoints" [ngValue]="endpoint.id">{{endpoint.description}}</option>
            </select>
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">Application</label>
            <select class="form-control form-control-sm" [(ngModel)]="logsRequest.applicationId" name="applicationId">
              <option *ngFor="let application of applications" [ngValue]="application.id">{{application.description}} - {{application.id}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label class="col-form-label-sm">Extra field 1</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="logsRequest.extraField1" name="extraField1" />
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">Extra field 2</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="logsRequest.extraField2" name="extraField2" />
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">Extra field 3</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="logsRequest.extraField3" name="extraField3" />
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">Extra field 4</label>
            <input type="text" class="form-control form-control-sm" [(ngModel)]="logsRequest.extraField4" name="extraField4" />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label class="col-form-label-sm">Date from</label>
            <input class="form-control form-control-sm" [owlDateTime]="dateFromInput" [owlDateTimeTrigger]="dateFromInput" [(ngModel)]="logsRequest.dateFrom" name="dateFrom" #dateFrom="ngModel" required [class.is-invalid]="dateFrom.invalid"/>
            <div class="invalid-feedback" [hidden]="!dateFrom.invalid">
              Date to is required
            </div>
            <owl-date-time #dateFromInput [firstDayOfWeek]="1"></owl-date-time>
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">&nbsp;</label>
            <br/>
            <div class="btn-group btn-group-sm" role="group">
              <button type="button" class="btn btn-outline-primary" (click)="setToday()">Today</button>
              <button type="button" class="btn btn-outline-primary" (click)="setNowMinus1()">Now - 1</button>
            </div>
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">Max logs</label>
            <input type="number" class="form-control form-control-sm" [(ngModel)]="logsRequest.maxLogs" name="maxLogs" #maxLogs="ngModel" required [min]="1" [max]="1000" [class.is-invalid]="maxLogs.invalid" />
            <div class="invalid-feedback" [hidden]="!maxLogs.invalid">
              Number has to be from 1 to 1000
            </div>
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">Severity</label>
            <select class="form-control form-control-sm" [(ngModel)]="logsRequest.severity" name="severity">
              <option *ngFor="let severity of severities" [ngValue]="severity.id">{{severity.description}}</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col">
            <label class="col-form-label-sm">Date to</label>
            <input class="form-control form-control-sm" [owlDateTime]="dateToInput" [owlDateTimeTrigger]="dateToInput" [(ngModel)]="logsRequest.dateTo" name="dateTo" #dateTo="ngModel" required [class.is-invalid]="dateTo.invalid">
            <div class="invalid-feedback" [hidden]="!dateTo.invalid">
              Date to is required
            </div>
            <owl-date-time #dateToInput [firstDayOfWeek]="1"></owl-date-time>
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">&nbsp;</label>
            <select class="form-control form-control-sm" [(ngModel)]="logsRequest.logsOrder" name="logsOrder">
              <option *ngFor="let logsOrder of logsOrders" [ngValue]="logsOrder.id">{{logsOrder.description}}</option>
            </select>
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">&nbsp;</label>
            <div class="form-check">
              <input id="include-general-logs-cb" class="form-check-input" type="checkbox" [(ngModel)]="logsRequest.includeGeneralLogs" name="includeGeneralLogs">
              <label class="form-check-label form-check-label-sm" for="include-general-logs-cb">
                Include general logs
              </label>
            </div>
          </div>
          <div class="form-group col">
            <label class="col-form-label-sm">&nbsp;</label>
            <br/>
            <button type="submit" class="btn btn-outline-primary" [disabled]="form.invalid">Get logs</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
